Repository Chrisp1tv/typeorm-batch: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts*,js*}": ["npm run test -- --passWithNoTests"],
  "*.{ts*,js*,yml}": ["npm run lint:fix"],
  "*.{json,md,java}": "prettier --write"
}

clean up
  .gitignore
  package-lock.json
  package.json
  spec/query-builder-batch.spec.ts
  src/index.ts
  tsconfig.build.json
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

prepare end-to-end tests
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  jest.config.json
  jest.e2e.config.ts
  jest.shared-config.ts
  jest.unit.config.ts
  package-lock.json
  package.json
  spec/unit/query-builder-batch.spec.ts
  tsconfig.build.json
  tsconfig.json
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

make first e2e test pass
  .lintstagedrc.json
  jest.e2e.config.ts
  package-lock.json
  package.json
  spec/e2e/query-builder-batch.spec.ts
  spec/e2e/support/e2e-data-source.ts
  spec/e2e/support/people.entity.ts
  spec/e2e/support/people.fixtures.ts
  spec/e2e/support/setup-environment.ts
  spec/e2e/support/setup.ts
  tsconfig.build.json
  tsconfig.json
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

first steps for e2e test ci workflow
  .github/workflows/test-end-to-end.yml
Due: npm run lint:fix

add more e2e test configs in ci
  .github/workflows/test-end-to-end.yml
Due: npm run lint:fix

more restrictive on node versions
  .github/workflows/test-end-to-end.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

better naming
  .github/workflows/test-end-to-end.yml
Due: npm run lint:fix

revisit build script to include readme and package.json
  .github/workflows/publish.yml
  package.json
  scripts/build.ts
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

feat: setup publication to NPM and add E2E tests (#3)
  .github/workflows/publish.yml
  .github/workflows/test-end-to-end.yml
  .gitignore
  .lintstagedrc.json
  jest.config.json
  jest.e2e.config.ts
  jest.shared-config.ts
  jest.unit.config.ts
  package-lock.json
  package.json
  scripts/build.ts
  spec/e2e/query-builder-batch.spec.ts
  spec/e2e/support/e2e-data-source.ts
  spec/e2e/support/people.entity.ts
  spec/e2e/support/people.fixtures.ts
  spec/e2e/support/setup-environment.ts
  spec/e2e/support/setup.ts
  spec/unit/query-builder-batch.spec.ts
  src/index.ts
  tsconfig.build.json
  tsconfig.json
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

fix publish script
  .github/actions/setup-node/action.yml
Due: npm run lint:fix

workflow dispatch
  .github/workflows/publish.yml
Due: npm run lint:fix

fix: publish script cannot authenticate (#4)
  .github/actions/setup-node/action.yml
  .github/workflows/publish.yml
Due: npm run lint:fix

fix command publish
  .github/workflows/publish.yml
Due: npm run lint:fix

fix: typo in publish command (#5)
  .github/workflows/publish.yml
Due: npm run lint:fix

add capability to stream records
  spec/unit/options/parse-options.spec.ts
  spec/unit/query-builder-batch.spec.ts
  spec/unit/stream/query-builder-batch-stream.spec.ts
  src/index.ts
  src/options/options.ts
  src/options/parse-options.ts
  src/query-builder-batch.ts
  src/stream/query-builder-batch-stream.ts
Due: npm run test -- --passWithNoTests, npm run lint:fix

add end-to-end tests
  spec/e2e/stream/query-builder-batch-stream.spec.ts
  src/query-builder-batch.ts
Due: npm run test -- --passWithNoTests, npm run lint:fix

update readme and use better naming
  README.md
  spec/e2e/query-builder-batch.spec.ts
  spec/e2e/stream/batch-stream.spec.ts
  spec/unit/stream/batch-stream.spec.ts
  src/index.ts
  src/stream/batch-stream.ts
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

feat(streams): add capability to stream batched records from a query builder (#6)
  README.md
  spec/e2e/stream/batch-stream.spec.ts
  spec/unit/options/parse-options.spec.ts
  spec/unit/query-builder-batch.spec.ts
  spec/unit/stream/batch-stream.spec.ts
  src/index.ts
  src/options/options.ts
  src/options/parse-options.ts
  src/query-builder-batch.ts
  src/stream/batch-stream.ts
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

version 0.9.1
  package.json
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write

chore: update version to 0.9.1 (#7)
  package.json
Due: npm run test -- --passWithNoTests, npm run lint:fix, prettier --write
